.container {
  padding: 60px 5%;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #64ffda;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #0a192f;
  margin: 10px 0;
  padding: 15px 20px;
  border-radius: 8px;
  line-height: 1.5;
}


@media (max-width: 768px) {
  h2 {
    font-size: 1.6rem;
  }

  li {
    padding: 12px 15px;
    font-size: 0.9rem;
  }
}
